<form id="cms-listorder">
    <table class="table table-bordered table-hover cms-table">
        <thead>
        <tr>
            <th width="14">排序</th>
            <th>id</th>
            <th>菜单名</th>
            <th>模块名</th>
            <th>类型</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="menus" id="menu">
            <tr>
                <td>
                    <input size="3" type="text" name="listorder[{$menu.menu_id}]" value="{$menu.listorder}"/>
                </td>
                <td>{$menu.menu_id}</td>
                <td>{$menu.name}</td>
                <td>{$menu.m}</td>
                <td>{$menu.type|getMenuType}</td>
                <td>{$menu.status|status}</td>
                <td><span class="glyphicon glyphicon-edit" aria-hidden="true" id="cms-edit" attr-id="{$menu.menu_id}"></span>
                    <a href="javascript:void(0)" attr-id="{$menu.menu_id}" attr-status="{$menu.status}" id="cms-delete" attr-a="menu" attr-message="删除"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
                </td>
            </tr>
        </volist>

        </tbody>
    </table>
</form>
<nav>
    <ul class="pagination btn-group">
        {$pageStr}
    </ul>
</nav>
<div>
    <button id="button-listorder" type="button" class="btn btn-primary dropdown-toggle"><span
            class="glyphicon glyphicon-plus" aria-hidden="true"></span>更新排序
    </button>
</div>